---
---

<!DOCTYPE html>

<html lang=en>
    {% include head.html %}

    <body>
    <main>
        
        {% include nav.html %}

        <hr>
        
        <div style="display: flex; align-items: center; gap: 20px; justify-content: space-between;">
            <h1 style="margin-top: 0;">Johannes R. Hübers</h1>
            <img src="/assets/me.png" alt="Johannes R. Hübers"
                style="width: 120px; height: auto;">
        </div>

        Not much to see here.
        
    </main>
    </body>
    
</html>
