body {
    font-family: sans-serif;
    max-width: 80ch;
    margin: 2rem auto;
    padding: 1rem;
    font-family: sans-serif;

    /* Light mode */
    background: #fafafa;
    color: black;
}
a {
    color: blue;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
        
    }
    a {
        color: #8AB4F8;
    }
}

/* Flexbox for the navigation line */
nav {
  display: flex;
  /*gap: 2em;*/
  font-size: 1.2rem;
  margin-bottom: 1em;
  justify-content: space-between;
}

h1 {
    margin-top: 1em;
}
